name: Static-Mex

on: 
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  builder:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        llvmversion:
        - 16.0.0
        - 15.0.0
        debianversion:
        - buster-slim
        - bullseye-slim
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Docker login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_HUB }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: |
          ${{ secrets.DOCKER_USER }}/debian-${{ matrix.debianversion }}:${{ matrix.llvmversion }}
        file: /debian/Dockerfile
        build-args: |
          LLVM_VERSION=${{ matrix.llvmversion }}
          DEBIAN_VERSION=${{ matrix.debianversion }}
  